body{
    font-style: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.menu{
    color: #ffffff;
    background-color: #3C55B5;
    padding: 10px 15px;
    display: flex;
}

.icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 6px;
}

.hamburguer{
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 2px;
}

img{
    max-width: 100%;
}

p{
    margin: 0;
}

.text{
    display: flex;
    justify-content: space-between;
    margin: 5px 0px;
}

.grid{
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}